

<div class="row">

  <div class="col-lg-12">
    <h1>Users</h1>
  </div>

  <div class="col-lg-12">

    <table class="table table-bordered">
      <tr>
        <th></th>
        <th>No</th>
        <th>Avatar</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobail No</th>
      </tr>
      <tr *ngFor="let use of user; let i = index" >
        <td>
          <button routerLink="user/{{use.id}}" class="btn btn-outline-primary">Edit</button>
          <button (click)="deleteuser( use.id)" class="btn btn-outline-danger">Delete</button>
        </td>
        <td>{{i+1}}</td>
        <td><img src="{{ use.avatar}} " alt="" style="height: 100px;"></td>
        <td>{{use.name}}</td>
        <td>{{use.email}}</td>
        <td>{{use.mobno}}</td>
      </tr>
    </table>
  </div>

</div>
